# macOS
.DS_Store

# Compiled simulation binaries
*.vvp

# Keep simulation waveforms
!Peripheral-Configuration-Distribution-Controller/sim/waves/
!Peripheral-Configuration-Distribution-Controller/sim/waves/*.vcd